* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    padding: 30px;
    color: #333;
}


#title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
}


#descricao {
    text-align: center;
    color: #cbd5f5;
    margin-bottom: 30px;
}


#pesquisa {
    max-width: 700px;
    margin: auto;
}


#pesquisa div {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px black;
}


#pesquisa h2 {
    margin-bottom: 15px;
    color: #1e3a8a;
}


label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}


input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

p {
    margin-top: 10px;
    font-weight: bold;
}


#submit {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #1e3a8a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}


#submit:hover {
    background: #0f172a;
    transform: scale(1.02);
}